@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Raleway", sans-serif;
  background: #D0F1F9;
  color: #4A4A4A;
}


.AddExpense {
  text-align: center;
  line-height: 5px;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 5px;
  padding-top: 18px;
  padding-bottom: 18px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  background: #bfe8f2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.AddExpense h2 {
  font-size: 22px;
  font-weight: 600;
}

.AddExpense p {
  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;
}

.Button {
  padding: 6px;
  background: #edc6ba;
  border-radius: 5px;
  border: 1px solid;
}

.Button:hover {
  background: #f4d8cf;
  cursor: pointer;
}

.cancelButton {
  padding: 6px;
  background: #c9c6c5;
  border-radius: 5px;
  border: none;
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #bfe8f2;
  padding: 40px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.limit {
  display: flex;
  gap: 10px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  width: 48%;
}

.summary {
  margin-top: 96px;
}

.summary h2 {
  font-weight: 600;
  font-size: 20px;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-table th,
.expense-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.expense-table th {
  background: #edc6ba;
}

.expense-table td {
  background: #fff;
  font-family: sans-serif;
}

.expense-table tr:nth-child(even) td {
  background-color: #f9f9f9;
}



/* Media Queries for Mobile */

@media screen and (max-width:576px) {

  .AddExpense h2,
  .AddExpense p {
    font-size: 18px;
  }

  .modal {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }


  .modal-content {
    padding: 40px 20px 40px 20px;
  }

  .form-group input,
  .form-group select {
    font-size: 13px;
  }


  .table-container {
    overflow-x: auto;
  }

  /* Table */
  .expense-table th,
  .expense-table td {
    font-size: 14px;
    padding: 8px;
  }

  .expense-table th {
    font-size: 16px;
  }
}


/* Media Queries for Tablet */
@media screen and (min-width:576px) and (max-width:992px) {

  .AddExpense h2,
  .AddExpense p {
    font-size: 16px;
  }


  .table-container {
    overflow-x: auto;
  }

  .expense-table th,
  .expense-table td {
    font-size: 12px;
    padding: 6px;
  }

  .expense-table th {
    font-size: 14px;
  }

  .expense-table td {
    font-size: 14px;
  }
}